{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint-config-blvd/react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "eslint:recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "plugins": ["@typescript-eslint", "prettier", "react-hooks", "react", "jsx-a11y"],
  "rules": {
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "react/prop-types": "warn",
    "no-console": "off",
    "arrow-parens": "off",
    "max-len": ["error", { "code": 140, "ignoreUrls": true }],
    "import/prefer-default-export": "off",
    "@typescript-eslint/explicit-function-return-type": "off",

    "object-curly-newline": [
      "error",
      {
        "ObjectPattern": { "multiline": true, "minProperties": 5 },
        "ImportDeclaration": "never",
        "ExportDeclaration": "always"
      }
    ],
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [
          { "char": ">", "alternatives": ["&gt;"] },
          { "char": "}", "alternatives": ["&#125;"] }
        ]
      }
    ],
    "react/destructuring-assignment": "off",
    "@typescript-eslint/no-use-before-define": "off"
  }
}
